.header{
    background-color: #DC0A2D;
}
.banner{
    display: flex;
    flex-direction: row;
    color: white;
    padding: auto;
    width: 100vw;
}

.Pokeball-icon{
    width: 100%;
    max-width: 2rem;
    padding: 1rem;
}
.search-section{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    justify-content: flex-start;
    padding: 1rem;
}
.search-bar{
    width: 18rem;
    height: 2.5rem;
    border-radius: 1.8rem;
}
.sort-by{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-left: .6rem;
}